[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Flow
Exec={appdir}/Flow.AppImage --desktop
Icon=flow
Categories=Utility;
X-AppImage-Name=Flow
X-AppImage-Version=mvp
X-AppImage-Arch=x86_64
Comment=
Path=
StartupNotify=false
